.filterButtons {
    & button {
        margin-right: 10px;
        background-color: #fff;
        padding: 4px 8px;
        border-radius: 3px;
        outline: none;
        border: none;
        &:hover {
            cursor: pointer;
            color: #df3535;
            box-shadow: 1px 1px 8px 1px #cd5353bf;
        }
        &.active {
            background-color: #cd5353;
            color: #fff;
            box-shadow: 1px 1px 8px 1px #cd5353bf;
        }
    }
}